body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #1a1c20;
    text-align: center;
    padding-top: 20px;
}

.middle {
    width: 600px;
    height: auto;
    padding-bottom: 20px;
    background-color: #14171c;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    border-radius: 10px;
}

.middle .nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

.middle .text {
    margin-left: 5%;
    margin-right: 5%;
}

.middle .experience {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    background-color: #101216;
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-wrap: wrap;
}

.experience a {
    text-decoration: none;
}

.experience a img {
    width: 22px;
    height: 22px;
    padding-inline: 4px;
}

.nav a {
    text-decoration: none;
    color: #346DDB;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #254d9c;
}