@font-face {
    font-family: 'Nimbus Sans';
    src: url("fonts/NimbusSanL-Reg.otf"),
         url("fonts/NimbusSanL-Bol.otf");
}

body {
    background: linear-gradient(90deg, #1D2D63, #151214);
    display: block;
    align-content: center;
    text-align: center;
    font-size: xxx-large;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Nimbus Sans', sans-serif;
}

img {
    width: 25px;
    height: 25px;
}