@font-face {
    font-family: 'Nimbus Sans';
    src: url("fonts/NimbusSanL-Reg.otf"),
         url("fonts/NimbusSanL-Bol.otf");
}

html {
    background-color: #151214;
}

body {
    background: linear-gradient(90deg, #04091B, #1D2D63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: xxx-large;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Nimbus Sans', sans-serif;
}

h1 {
    margin-bottom: 0px;
}

p {
    font-size: medium;
    color: #D3D3D3;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    transition: filter 0.3s ease;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: xx-large;
    }

    img {
        width: 22px;
        height: 22px;
    }

    p {
        font-size: large;
    }
}

@media (max-width: 480px) {
    body {
        font-size: x-large;
    }

    img {
        width: 18px;
        height: 18px;
    }

    p {
        font-size: medium;
    }
}