@font-face {
    font-family: 'Nimbus Sans';
    src: url("fonts/NimbusSanL-Reg.otf"),
         url("fonts/NimbusSanL-Bol.otf");
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
}

body {
    background: linear-gradient(#0F0D0F, #151214);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Nimbus Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.blue {
    background: linear-gradient(90deg, #04091B, #1D2D63);
}

.about {
    max-width: 60vh;
    text-align: center;
}

.gigatext {    
    font-size: 16vh;
}

.titlebar {
    margin-top: 2vh;
}

.no-margin {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.offwhite {
    color: #cbcbcb;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-down {
    flex-direction: column;
}

.gap {
    gap: 2vh;
}

.list-side {
    display: flex;
    gap: 2vh;
}

.space-between {
    justify-content: space-between;
}

#down-arrow {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.section {
    scroll-snap-align: start;
    height: 100vh;
    position: relative;
}

.box {
    width: 20vh;
    background-color: #272325;
    padding: 0 1.5vh;
    border-radius: 10px;
    border: 1px solid #3C383C;
}

#list-down {
    margin: 5vh 5vh;
}

p {
    color: #D3D3D3;
}

img {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 25px;
    width: 25px;
}

img:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    transition: filter 0.3s ease;
}

@media (max-width: 768px) {
    body {
        font-size: xx-large;
    }

    img {
        width: 22px;
        height: 22px;
    }

    p {
        font-size: large;
    }
}

@media (max-width: 480px) {
    body {
        font-size: x-large;
    }

    img {
        width: 18px;
        height: 18px;
    }

    p {
        font-size: medium;
    }
}